@import "tailwindcss";

@theme {
  --color-brand: #FF7A00;
  --color-background: #FFFAF6;
  --color-text-primary: #0F1724;
  --color-text-secondary: #8A5D2B;
  --color-text-green: #0B6B4A;
}

html, body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}