---
import Layout from '../layouts/Layout.astro';
import Hero from '@/sections/Hero.astro';
import Header from '@/sections/Header.astro';
import Home from '@/sections/Home.astro';

---

<Layout>
	<div class="flex flex-col items-center justify-center min-h-screen p-4 max-w-6xl mx-auto overflow-x-hidden">
		<Header/>
	  <main class="flex-1">
			<Hero/>
			<Home/>
		</main>
		<footer class="mt-8 text-sm text-gray-500">
			<p>&copy; {new Date().getFullYear()} Grupo Empresarial Marmon SAS. All rights reserved.</p>
		</footer>
	</div>
</Layout>
