---
import "@/styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/marmoncorp.svg" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<title>Grupo empresarial Marmon SAS</title>
		<meta
			name="description"
			content="Grupo empresarial Marmon SAS. Buscamos impulsar el crecimiento de nuestros clientes mediante soluciones integrales
en construcción, derecho, tecnología y turismo; operando con ética,
innovación y un servicio excepcional." />
		<meta name="keywords" content="Marmon, Marmon Corp, Grupo empresarial Marmon SAS, Marmon Lex, Marmon Tech, Marmon Builds, Marmon Travel" />

		<meta property="og:title" content="Grupo empresarial Marmon SAS" />
		<meta property="og:image" content="https://marmoncorp.com/og.jpg" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://marmoncorp.com" />


		<meta name="twitter:card" content="summary_large_image" />
		<!-- <meta name="twitter:title" content="Grupo empresarial Marmon SAS" /> -->

	</head>
	<body>
		<div class="sticky top-0 left-0 w-full bg-yellow-100 text-yellow-800 text-center py-2 z-50">
			<span class="text-2xl">Sitio web en desarrollo</span>
		</div>
		<slot />
	</body>
</html>